@import "../../../scss/_variables.scss";

swiper-container {
  margin-top: 12px;
  width: auto;
  margin-left: auto;
  margin-right: auto;

  &::part(bullet-active) {
    background-color: $violet;
  }

  &::part(bullet-active) {
    background-color: $violet;
  }

  &::part(bullet) {
    background-color: $white;
  }
  &::part(bullet),
  &::part(button-prev),
  &::part(button-next) {
    opacity: 1;
  }

  &::part(button-prev),
  &::part(button-next) {
    color: $violet;
  }

  .swiper_small {
    margin-left: 290px;
    width: auto;
  }
  .swiper_big {
    margin: 0 auto;
  }

  swiper-slide img {
    width: auto;
  }
}
