.heart {
  /* position: absolute;
  top: 8px;
  right: 8px; */

  &:hover {
    cursor: pointer;
  }

  &.selected svg,
  &.selected svg path {
    fill: red;
    stroke: red;
  }

  &:hover {
    cursor: pointer;
  }

  &.selected svg,
  &.selected svg path {
    fill: red;
    stroke: red;
  }
}

.heart.relative {
  position: static;
}

.heart.relative path {
  stroke: white;
}

.heart.mobile {
  top: 90px;
}
