$violet: #8732c9;
$violetDark: #530d8a;
$violetDark2: #28003e;
$white: #fff;
$black: #28003e;
$border: 0.3rem solid #fff;
$grey: #30293d;
$greyLight: #747474;
$gray-violet: #433e5a;
$violet-400: #d4d9e8;
$gray-100: #f5f5f5;
